* {
  box-sizing: border-box;
  /* background-color: rgb(12, 8, 8); */
  /* color: white; */
}

html {
  font-size: 62.5%;
}

header {
  display: flex;
  position: sticky;
  background: black;
  color: white;
  font-size: 4rem;
  justify-content: center;
  height: 8rem;
  align-items: center;
}

.header {
  background-color: black;
}
